:host {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  .product {
    &-card-wrapper {
      padding: 20px 0;
    }

    &-card {
      display: flex;
      flex-direction: column;
      border: 1px solid #4b4b4b;
      border-radius: 4px;
      padding: 20px;

      max-width: 200px;

      p {
        color: #898989;
      }
    }

    &-price {
      color: #fff;
    }

  }



}
